<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Members </title>
</head>
<body>
    <h1>    Members </h1>


    <table>
        <tr>
            <th>
                who 
            </th>
            <th>
                whome
            </th>
        </tr>
        {% for x in mymembers %}
        <tr>
            <td  >
                <li>
                    <a href="members/details/{{x.id}}" >
                        {{ x.firstName }}
                    </a>

                    </li>
                    
                
            </td>
            <td>
                {{ x.lastName }}
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>